* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
    padding: 5px;
}

.container {
    border-radius: 5px;
    box-shadow: 0px 5px 5px 5px gray;
    padding: 10px;
}

header {
    background-color: #69D2FF;
    margin: 10px;
    padding: 5px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(107, 102, 102);
    padding: 10px;

}

main div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}



main input {
    width: 100%;
    margin: 10px 0px 10px 0px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #CFCFCF;
}

select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding: 5px;

}

option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}

main div div {
    display: inline-block;
}


input[type=radio] {
    width: auto;
}

input[type=checkbox] {
    width: auto;
}

textarea {
    resize: none;
    margin: 10px 0px 10px 0px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    padding: 5px;
}

.button_block {
    width: 100px;
    margin: 0 auto;

}

button {
    color: white;
    background-color: #0073E6;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
}

label:hover,
label:hover~input::placeholder,
label:hover~select,
label:hover~input[type=date] {
    color: #0073E6;
}

label:hover~input,
label:hover~textarea,
label:hover~select {
    border: 1px solid #0073E6;
}


button:hover {
    cursor: pointer;
}

.single {
    margin: 10px;
}