* {
    margin: 0;
    padding: 0;
}

.currency_list {
    margin: 30px 30px 20px 90px;
}

ul {
    padding-left: 120px;
    margin: 10px;
}

.currency_today {
    margin: 30px 30px 20px 90px
}

table {
    margin: 30px 30px 20px 90px;
    font-size: 20px;
}

table,
tr,
td,
th {
    border: 2px solid black;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}